[data-tooltip] {
    position: relative;
    cursor: help;
    text-decoration: underline;
}

[data-tooltip]:hover::before {
    content: attr(data-tooltip);
    position: absolute;
    top: -2em;
    left: 100%;
    padding: 0.5em;
    background: var(--BOX-GREY-color);
    font-size: 0.8em;
    border-radius: 0.25em;
    white-space: nowrap;
    z-index: 1;
    border: 1px solid rgba(134, 134, 134, .333)
}

.request {
    font-size: 1.6rem;
    font-family: var(--INTERNAL-CODE-font);
    background-color: var(--CODE-BLOCK-BG-color);
    border-radius: 4px;
    padding: 0.2rem 1rem;
    color: var(--CODE-BLOCK-color);
    border-style: solid;
    border-width: 1px;
    border-color: var(--CODE-BLOCK-BORDER-color);
}

h1 {
    text-transform: none;
}

h3 {
    font-size: 1.2rem;
}

a#R-logo {
    white-space: normal;
    color: var(--MAIN-TEXT-color);
    text-transform: none;
}

a#R-logo:hover {
    color: var(--MAIN-LINK-HOVER-color);
}

nav#R-topbar {
    background-color: var(--MAIN-TOPBAR-BG-color);
}

button.topbar-control {
    color: var(--MAIN-TEXT-color);
}

a.topbar-control {
    color: var(--MAIN-TEXT-color);
}
