<table>
    <tr>
        <th></th>
        {{ range $.software }}
        <th>{{ .name }}</th>
        {{ end }}
    </tr>
    {{ range $name, $software := $.values }}
    <tr>
        <td>{{ $name }}</td>
        {{ range $.software }}
	{{ $version := index $software .key }}
        <td>
            {{ if reflect.IsMap $version }} {{ if $version.deprecated }}
            <span data-tooltip="deprecated in {{ $version.deprecated }}"
                >{{ $version.version }}*</span
            >
            {{ else if $version.note }}
            <span data-tooltip="{{ $version.note }}"
                >{{ $version.version }}*</span
            >
            {{ else }} {{ $version.version }} {{ end }} {{ else }} {{ $version
            }} {{ end }}
        </td>
        {{ end }}
    </tr>
    {{ end }}
</table>
