<table>
	<tr>
		<th></th>
		{{ range $.software }}
		<th>{{ .name }}</th>
		{{ end }}
	</tr>
	{{ range $name, $value := $.values }}
	<tr>
		{{ if reflect.IsMap $value }}
		{{ $entity := index $.entities $value.entity }}
		<td>
		{{ $name }}
		{{ if $entity }}
		(<a href="{{ printf "api-entities/%s" $value.entity | absURL }}">
			{{ $entity.name }}
		</a>)
		{{ end }}
		</td>
		{{ range $.software }}
		{{ $version := index $value .key }}
		<td>{{ partial "version-table-version" $version }}</td>
		{{ end }}
		{{ else }}
		<td>
		{{ $name }}
		{{ $entity := index $.entities $value }}
		(<a href="{{ printf "api-entities/%s" $value | absURL }}">
			{{ $entity.name }}
		</a>)
		</td>
		{{ range $entity.software }}
		<td>{{ partial "version-table-version" .version }}</td>
		{{ end }}
		{{ end }}
	</tr>
	{{ end }}
</table>
