<table>
	<tr>
		<th></th>
		{{ range $.software }}
		<th>{{ .name }}</th>
		{{ end }}
	</tr>
	{{ range $key, $value := $.values }}
	{{ if reflect.IsMap $value }}
	<tr>
	{{ $entity := index $.entities $value.entity }}
	{{ $name := $value.name }}
	{{ if not $name }}
	{{ $name = $key }}
	{{ end }}
		<td>
		{{ $name }}
		{{ if $entity }}
		(<a href="{{ printf "api-entities/%s" $value.entity | absURL }}">{{ $entity.name }}</a>)
		{{ end }}
		</td>
		{{ range $.software }}
		{{ $version := index $value .key }}
		<td>{{ partial "version-table-version" $version }}</td>
		{{ end }}
	</tr>
	{{ else }}
	{{ $name := $key }}
	{{ $entity := index $.entities $value }}
	{{ if $entity }}
	<tr>
		<td>
		{{ $name }}
		(<a href="{{ printf "api-entities/%s" $value | absURL }}">{{ $entity.name }}</a>)
		</td>
		{{ range $entity.software }}
		<td>{{ partial "version-table-version" .version }}</td>
	</tr>
	{{ end }}
	{{ end }}
	{{ end }}
	{{ end }}
</table>
