<article class="api-methods">
    <header class="headline">
        {{ partial "content-header.html" . }}
    </header>
    {{ partial "heading-pre.html" . }}
    {{ partial "heading.html" . }}
    {{ partial "heading-post.html" . }}
    {{ range .Params.api }}
    <h2><span class="request">{{ .request }}</span></h2>
    {{ partial "software-table" (dict "software" $.Params.software "values" .software) }}
    {{ if .params }}
    <h3>Parmaters</h3>
    {{ partial "version-table" (dict "software" $.Params.software "entities" $.Params.entities "values" .params) }}
    {{ end }}
    {{ if .response }}
    <h3>Response</h3>
    {{ if reflect.IsMap .response }}
    {{ partial "version-table" (dict "software" $.Params.software "entities" $.Params.entities "values" .response) }}
    {{ else }}
    {{ $response_key := .response }}
    {{ $array := false }}
    {{ if hasSuffix $response_key "[]" }}
    {{ $array = true }}
    {{ $response_key = substr $response_key 0 -2 }}
    {{ end }}
    {{ $response := index $.Params.entities $response_key }}
    <h4>
        <a href="api-entities/{{$response_key}}/">
            {{ $response.name }}
            {{ if $array }}
            []
            {{ end }}
        </a>
    </h4>
    {{ partial "version-table" (dict "software" $.Params.software "entities" $.Params.entities "values" $response.attributes) }}
    {{ end }}
    {{ end }}
    {{ end }}
    {{ partial "article-content.html" . }}
    <footer class="footline">
        {{ partial "content-footer.html" . }}
    </footer>
</article>
